.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-top: 10px solid rgba(0, 0, 255,);
}

.recovered {
    border-top: 10px solid rgba(0, 255, 0,);
}

.deaths {
    border-top: 10px solid rgba(255, 0, 0,);
}